<!-- views/foods/index.html.erb -->

<div class="container p-3">
  
 <h1 class="text-center h1">Foods page</h3>
 <div class="container d-flex justify-content-end pe-5">
  <%= button_to "Add Food", new_food_path, method: :get, class: "btn btn-outline-info"  if @user.id == current_user.id%>
 </div>
 <table class="table table-striped">
 <% if @foods.present? %>
     <thead>
       <tr class="table-active">
         <th class="input title" >Food</th>
         <th class="input title" >Measurement unit</th>
         <th class="input title">Unit price</th>
         <th class="input title">Actions</th>
        </tr>
     </thead>
   <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td class="input"><%= food.name %></td>
        <td class="input"><%= food.measurement_unit %></td>
        <td class="input"><%= food.price %></td>
        <% if food.user_id == @user.id || @user.admin? %>
        <td class="input">
            <%= link_to 'Delete', food_path(food), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
        </td>
        <% end %>
      </tr>
       <% end %>
       </tbody>
       <% else %> 
        <p class="text-center display-6 ">No foods found</p>
    <% end %>
</table>
</div>